<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>About This Application</h1>
    <p>
      Creator: Brent Freeman
    </p>
    <p>
    	Email: brfree91@hotmail.com
    </p>
  </body>
</html>