<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Baseball Voting Application</h1>
    <p style="text-align: center">
      This is the home page for the Baseball voting application. This application will allow users to vote on which team they think will win during the entire baseball season. Only logged in users will be able to vote so be sure to sign up now.
    </p>
    <div style="text-align: center; padding: 5px;"> 
    <%= link_to "Game voting page", "#" , class: "btn btn-lg btn-primary" %>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  </body>
</html>
