<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Baseball Voting Application</h1>
    <p style="text-align: center">
      This is the home page for the Baseball voting application. Ill make it pretty soon.
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  </body>
</html>
