<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Baseball Voting Application</h1>
    <p>
      This is the home page for the Baseball voting application. Ill make it pretty soon.
    </p>
  </body>
</html>
